.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
}
.logo{
    color: brown;
    font-size: 24px;
    font-weight: bold;
}
.nav-links a {
    color: aqua;
    text-decoration: none;
    margin-left: 50px;
    font-size: 16px;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: #ff4;
}
section{
    background-color: #0c6c;
    color: white;
    
    
}
.website img{
    margin-left: 20px;
}
.btn {
    display: inline-block;
    background: yellow;
    padding: 15px 23px;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    margin: 10px 0;
}
.btn {
    color: rgb(164, 204, 72);
}
.sec1{
    background-color: rgb(75, 42, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
.section-content{
    width: 100%;
    height: 400px;
}